{# empty Twig template #}
{% extends "::base.html.twig" %}
{% block conteudo %}
<div class="caixa-eventos">
    <h3 class="titulo-pagina">Agenda/Eventos</h3>
    <p class="subtitulo-produto">Confira nossos links e novidades</p>
    <br />
    <div class="evento">
        <div class="thumb-evento">
            
        </div>
        <p class="titulo-evento"><strong>HAIR BEAUTY</strong> - Rio de Janeiro - RJ - 
            13 a 15 de outubro de 2011</p>
        <div class="caixa-fotos-evento">
            <div class="thumb-evento-foto">

            </div>
            <div class="thumb-evento-foto">

            </div>
            <div class="thumb-evento-foto">

            </div>
        </div>
    </div>
    
    <div class="evento">
        <div class="thumb-evento">

        </div>
        <p class="titulo-evento"><strong>ECONOFARMA</strong> - São Paulo - SP - 
            16 e 17 de junho de 2011</p>
        <div class="caixa-fotos-evento">
            <div class="thumb-evento-foto">

            </div>
            <div class="thumb-evento-foto">

            </div>
            <div class="thumb-evento-foto">

            </div>
        </div>
    </div>
</div>
{% endblock %}